/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

/***************************宽屏样式(start)***************************/
.w_1200 #bodyer, .w_1200 #bodyer .wide{min-width:auto;}
.w_1200 #footer_outer{min-width:980px;}
/***************************宽屏样式(end)***************************/

body{background:#fff;}
#bodyer{background-color:#01baf3;}
#bodyer .holiday_header{height:581px; cursor:pointer;}
#bodyer .main_top{position:relative; padding:0 0 30px 0;}
#bodyer .main_middle{background:#0097e0; padding-top:24px;}
#bodyer .main_bottom{background:url(../images/bg_dot_1.png) repeat-y #9654b6; padding-top:24px;}
#bodyer .logo{position:absolute; left:0; top:0;}

#bodyer, #bodyer .wide, #footer_outer{min-width:1200px;}

.banner_list{height:538px; margin-top:21px; padding:0 10px;}
.banner_list .banner_box{width:401px; height:296px;}
.banner_list .fl{overflow:hidden;}
.banner_list .t0{width:1180px; height:242px;}
.banner_list .t1{width:258px; height:296px;}
.banner_list .t2{width:261px; height:296px;}
.banner_list .t3{width:401px; height:147px;}
.banner_list .t4{width:401px; height:149px;}
.banner_list .t5{width:260px; height:296px;}

.box_head{background:url(../images/bg_dot.png) no-repeat; height:50px; line-height:50px;}
.box_head .wide{color:#fff; text-indent:11px; font-size:16px; padding:0 10px;}
.box_head_1{background:url(../images/bg_dot.png) no-repeat -45px -56px;}
.box_body{background:url(../images/bg_dot_1.png) repeat-y;}
.box_body_1{padding-bottom:30px;}

.pro_box{width:265px; height:320px; overflow:hidden; background:#e60b25; padding:5px; margin:0 12px;}
.pro_box>dd{overflow:hidden;}
.pro_box .time{height:38px; line-height:38px; background:#f3f3f3; text-align:right; padding-right:10px;}
.pro_box .time span{display:inline-block; height:22px; line-height:22px; padding:0 3px; color:#fff; text-align:center; background:#ea091e; margin:0 5px;}
.pro_box .img{height:190px; background:#fff; text-align:center;}
.pro_box .img img{max-width:100%; max-height:100%;}
.pro_box .name{height:30px; line-height:30px; background:#dedede; text-indent:16px;}
.pro_box .view{height:54px; padding-top:8px; position:relative;}
.pro_box .price{height:27px; line-height:27px; color:#fff;}
.pro_box .cur_price{font-size:14px;}
.pro_box .cur_price b{font-size:18px;}
.pro_box .old_price{text-decoration:line-through;}
.pro_box .buy_btn{display:block; position:absolute; right:0; bottom:0;width: 68px;height: 40px;padding:6px 35px 8px 20px;font-size: 22px;color: #ea091e;background: url(../images/buy_it.png) no-repeat center center;text-decoration: none;}
.pro_box .buy_btn span{display: block;width: 100%;height: 40px;line-height: 40px;overflow: hidden;}

.banner_body{margin:0 10px; background:#fff; padding:15px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.banner_body .fl{overflow:hidden;}
.banner_body .t0{width:486px; height:303px; margin-right:28px; margin-bottom:28px;}
.banner_body .t1{width:302px; height:303px; margin-bottom:28px;}
.banner_body .t2{width:303px; height:302px; margin-right:27px;}
.banner_body .t3{width:486px; height:302px;}
.banner_body .t4{width:302px; height:633px;}
.banner_body .banner_box{width:816px; margin-right:28px;}

.pro_list{padding:0 10px;}

.pro_item{width:230px; overflow:hidden; margin:0 3px; padding-bottom:9px;}
.pro_item>dt{padding:14px 14px 6px; text-align:center; height:190px;}
.pro_item>dt img{max-width:100%; max-height:100%;}
.pro_item>dd{padding:0 14px;}
.pro_item .pro_name{line-height:22px; height:44px; overflow:hidden;}
.pro_item .pro_price{height:17px; font-size:15px; color:#c00; font-weight:bold; height:28px; line-height:28px;}
.pro_item .pro_view{height:28px; line-height:28px; text-align:center; background:#a40000; color:#fff; font-size:14px;}
.pro_item.first{margin-left:475px;}