@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
font-size
rem		px
0.0625	1
0.3125	5
0.625	10
0.75	12
0.875	14
1		16
1.125	18
1.25	20
1.375	22
1.5		24
1.625	26
1.75	28
1.875	30
2.5		40
*/

/*************************** 全局 start ***************************/
body{min-width:320px; max-width:640px; height:100%; margin:0 auto; font-family:Arial, Helvetica, sans-serif; color:#333; background-color:#fff;}
.html_overflow, .html_overflow body{overflow:hidden; height:100%;} /* 禁止页面滚动 */
.wrapper{width:100%; min-height:240px; overflow:hidden; margin:0 auto;}
.wrapper:after,.wrapper:before{display:table; content:'';}
.wrapper:after{clear:both;}

.form_null{animation:null .3s 2 0s linear forwards; -webkit-animation:null .3s 2 0s linear forwards;}

/*面包屑*/
.crumb{height:1rem; padding:.625rem .625rem; color:#999; word-wrap:break-word; word-break:normal; background-color:#fafafa;}
.crumb>a{line-height:1.25rem; color:#333; font-weight:300; float:left; display:block; word-break:break-all;}
.crumb>em{margin:.2rem .375rem 0; border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #999; border-style:solid; float:left; display:block; position:relative; z-index:10;}
.crumb>em>i{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:-.4rem; right:.1rem; z-index:11;}
.icon_crumb_home{width:1rem; height:1rem; background:url(../images/icon_crumb_home.png) no-repeat center bottom/100%; display:block;}

/*按钮*/
.btn_global{width:100%; height:2.5rem; line-height:2.5rem; font-size:1rem; text-align:center; border:0; border-radius:.3125rem; cursor:pointer; display:block; box-sizing:border-box; -webkit-box-sizing:border-box;}
.btn_view{margin:.3125rem 0; height:1.875rem;}
.btn_view>button{width:auto; height:1.875rem; line-height:1.875rem; margin:0 auto; padding:0 1rem; font-size:.75rem; background-color:#f2f2f2; display:inline-block; vertical-align:top;}

/*内容为空 列表页为空*/
.content_blank{padding:10rem 1rem 3rem; text-align:center; font-size:.875rem; color:#929292; background:url(../images/bg_no_product.png) no-repeat center 3rem; background-size:12rem;}
.content_more{padding:1rem 0; text-align:center;}

/*间隔的灰色区域*/
.divide_5px{height:.3125rem; background-color:#f6f6f6;}
.divide_8px{height:.5rem; background-color:#f6f6f6;}
.divide_10px{height:.625rem; background-color:#f6f6f6;}
.divide_16px{height:1rem; background-color:#f6f6f6;}
.divide_20px{height:1.25rem; background-color:#f6f6f6;}

/*弹出窗口 包括头部导航、底部语言、底部货币*/
.pop_up{width:80%; height:100%; background-color:#fff; position:fixed; top:0; left:0; z-index:10020; -webkit-transform:-webkit-translateX(-100%); transform:translateX(-100%); -webkit-transition:all .4s; transition:all .4s; visibility:hidden;}
.pop_up .close{width:2rem; height:2rem; position:absolute; right:-19%; top:1.5rem;}
.pop_up .close>em{width:2rem; height:2rem; background:url(../images/nav_close.png) no-repeat center/100%; display:block;cursor: pointer;}
.pop_up.show{-webkit-transform:-webkit-translateX(0); transform:translateX(0);}
.pop_up_right{left:auto; right:0; -webkit-transform:-webkit-translateX(100%); transform:translateX(100%);}
.pop_up_container{position:relative; overflow-y:scroll; -webkit-overflow-scrolling:touch;}
.pop_up_container .category_close{width:1rem; height:3.4375rem; line-height:3.4375rem; padding-left:.625rem; padding-right:1rem; background-color:#fff; position:inherit; right:auto; top:auto; display:inline-block;}
.pop_up_container .category_close>em{width:auto; height:auto; margin:1.2rem .2rem 0 0; background:none; border-width:.5rem .5rem .5rem 0; border-color:transparent #999 transparent transparent; border-style:solid; float:right; display:block; position:relative; z-index:10;}
.pop_up_container .category_close>em>i{border-width:.5rem .5rem .5rem 0; border-color:transparent #fff transparent transparent; border-style:solid; display:block; position:absolute; top:-.5rem; left:.1rem; z-index:11;}
.pop_up_container .category_title{height:3.4375rem; line-height:3.4375rem; font-size:1rem;}
.pop_up_container .side_head{height:3.4375rem; line-height:3.4375rem; text-align:center;}
.pop_up_container .side_head .side_close{width:1rem; height:3.3rem; line-height:3.3rem; padding-left:.625rem; padding-right:1rem; background-color:#fff; position:absolute; right:auto; top:auto; left:0; display:inline-block;}
.pop_up_container .side_head .side_close>em{width:auto; height:auto; margin:1.3rem .2rem 0 0; background:none; border-width:.5rem .5rem .5rem 0; border-color:transparent #848484 transparent transparent; border-style:solid; float:right; display:block; position:relative; z-index:10;}
.pop_up_container .side_head .side_close>em>i{border-width:.5rem .5rem .5rem 0; border-color:transparent #fff transparent transparent; border-style:solid; display:block; position:absolute; top:-.5rem; left:.1rem; z-index:11;}
.pop_up_container .side_head .side_title{font-size:1rem;}
.nav_container .currency{ margin:0 0.625rem;}
.nav_container .currency a{ line-height:2.5rem; font-size:0.875rem; color:#5f5f5f; display:block; padding-left:.3125rem; position:relative;}
.nav_container .currency .icon{width:1.5rem; height:1.5rem; background-color:#fff; position:absolute; top:.5rem; right:0; -webkit-transform:-webkit-rotate(0); transform:rotate(0); -webkit-transition:all .4s; transition:all .4s;}
.nav_container .currency .icon>em{margin:.3rem .2rem 0 0; border-width:.5rem 0 .5rem .5rem; border-color:transparent transparent transparent #999; border-style:solid; float:right; display:block; position:relative; z-index:10;}
.nav_container .currency .icon>em>i{border-width:.5rem 0 .5rem .5rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:-.5rem; right:.1rem; z-index:11;}
.nav_container .currency img{ margin-left:0.3rem;}
.nav_container .user{height:4rem; line-height:4rem; overflow:hidden; padding-top:.625rem; font-size:.975rem; color:#aaa; background-color:#f8f8f8;}
.nav_container .user>a{font-size:.975rem;}
.nav_container .user .user_logo{width:2.5rem; height:2.5rem; line-height:2.5rem; margin-left:1.5rem; margin-top:.5rem; margin-right:1rem; text-align:center; font-size:1rem; color:#fff; background-image:url(../images/bg_user_logo_to.png); background-repeat:no-repeat; background-position:center; background-size:100%; float:left;}
.nav_container .user.center{text-align:center;}
.nav_container .search{height:2.8125rem; margin:0 .625rem; background-color:#eee;}
.nav_container .search .text{width:80%; height:2.8125rem; line-height:1rem; padding-left:.625rem; font-size:.875rem; background:none; border:0;}
.nav_container .search .sub{width:20%; height:2.8125rem; background:url(../images/menu_search.png) no-repeat center/1rem; border:0;}
.menu_list{max-width:100%; height:1rem; overflow-x:hidden; overflow-y:scroll; padding:0 .625rem; position:relative; -webkit-overflow-scrolling:touch;}
.menu_list .item{position:relative; border-color:#ddd;}
.menu_list .item a{height:2.5rem; line-height:2.5rem; overflow:hidden; margin-left:.3125rem; font-size:.875rem; color:#5f5f5f; display:block;}
.menu_list .item a>img{width:1rem; height:.6875rem; overflow:hidden; margin-right:.6rem;}
.menu_list .item a>b{ font-weight:bold; color:#333;}
.menu_list .item.son>.icon{width:1.5rem; height:1.5rem; background-color:#fff; position:absolute; top:.5rem; right:0; -webkit-transform:-webkit-rotate(0); transform:rotate(0); -webkit-transition:all .4s; transition:all .4s;}
.menu_list .item.son>.icon>em{margin:.3rem .2rem 0 0; border-width:.5rem 0 .5rem .5rem; border-color:transparent transparent transparent #999; border-style:solid; float:right; display:block; position:relative; z-index:10;}
.menu_list .item.son>.icon>em>i{border-width:.5rem 0 .5rem .5rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:-.5rem; right:.1rem; z-index:11;}
.menu_list .item.son .current_list{height:1.25rem; line-height:1.25rem;}
.menu_list .item.son .current_list>span{padding:0 .3rem; font-size:.75rem; color:#ccc;}
.menu_list .item.open>.icon{-webkit-transform:rotate(90deg); transform:rotate(90deg);}
.menu_list .menu_son{display:none; border-color:#f8f8f8;}
.menu_list .menu_son .item{margin-left:.625rem; border:0;}
.menu_list .menu_son .item a{border-bottom:.0625rem #f2f2f2 solid;}
.menu_list .menu_son .item:last-child a{border:0;}
.menu_list .menu_grandson{border:0;}
.menu_list .menu_grandson a{color:#878787;}
.menu_list .menu_grandson .item:last-child a{border-bottom:.0625rem #f2f2f2 solid;}
.menu_list .attr_son{padding:.625rem; padding-bottom:0;}
.menu_list .attr_son span{line-height:2rem; margin:0 .3125rem .625rem 0; padding:0 .625rem; color:#333; white-space:nowrap; cursor:pointer; border-radius:.3215rem; position:relative; vertical-align:middle; display:inline-block;}
.menu_list .attr_son span>em{width:.5rem; height:.5rem; margin-left:.3rem; margin-top:.75rem; background:url(../images/icon_remove_white.png) no-repeat center; background-size:100%; float:right; display:block;}
.menu_list .attr_son span.current{color:#fff;}
.menu_button{padding:.8rem .625rem;}
.menu_button .btn{width:48%; text-transform:uppercase; font-size:.9rem; color:#fff; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.menu_button .btn:first-child{margin-right:4%;}
.menu_button .btn>em{width:1.15rem; height:1.15rem; margin-right:.625rem; margin-top:.65rem; background-repeat:no-repeat; background-position:center; background-size:100%; display:inline-block; vertical-align:top;}
.menu_button .btn_default{background-color:#d0d0d0;}
.menu_button .btn_default>em{background-image:url(../images/icon_refine_clear.png);}
.menu_button .btn_primary>em{background-image:url(../images/icon_refine_apply.png);}
.refine_current{padding:1rem .625rem .375rem; background-color:#f6f6f6;}
.refine_current>a{height:1.5rem; line-height:1.5rem; margin:0 .625rem .625rem 0; padding:0 .625rem; font-size:.75rem; color:#333; background-color:#fff; border:.0625rem #ccc solid; border-radius:.3125rem; display:inline-block;}
.refine_current>a>em{width:.5rem; height:.5rem; margin-left:.3rem; margin-top:.5rem; background:url(../images/icon_remove_black.png) no-repeat center; background-size:100%; float:right; display:block;}

.modal_side .menu_list{padding:0;}
.modal_side .menu_list .item a{margin-left:.625rem;}
.modal_side .menu_list .item.son>.icon{right:.625rem;}

.sort_by_side .menu_list{padding-top:.625rem; padding-bottom:.625rem; background-color:#fafafa;}
.sort_by_side .menu_list .sort_by_item{border-color:#ddd; position:relative;}
.sort_by_side .menu_list .sort_by_item>a{height:2.5rem; line-height:2.5rem; overflow:hidden; padding-left:1.5rem; font-size:.875rem; color:#5f5f5f; display:block;}
.sort_by_side .menu_list .sort_by_item>a>em{width:1rem; height:1rem; margin-top:.75rem; margin-right:.5rem; background-image:url(../images/icon_checkbox_s.png); background-repeat:no-repeat; background-position:center; background-size:100%; display:inline-block; position:absolute; top:0; right:0; vertical-align:top;}
.sort_by_side .menu_list .sort_by_item>a.current{color:#fff;}
.sort_by_side .menu_list .sort_by_item>a.current>em{background-image:url(../images/icon_checkbox_s_current.png);}
/*************************** 全局 end ***************************/


/*************************** header start ***************************/
.header_top{height:3.625rem; position:relative; z-index:900;}
.header_top .logo{max-width:50%; height:3.5rem; margin-left:.125rem;}
.header_top .logo img{max-height:100%;}
.header_top aside>div{position:relative;}
.header_top aside>div>a{width:1.5rem; height:3.625rem; padding-right:1.25rem; display:block;}
.header_top aside>div>a>img{margin-top:1.25rem;}
.header_top aside>div .cart_count{width:.875rem; height:.875rem; line-height:.875rem; text-align:center; font-size:.75rem; color:#fff; background-color:#c00; border:.0625rem #fff solid; border-radius:50%; position:absolute; top:.8rem; right:1rem;}

nav{margin-top:.4rem;}

.header_fill{height:3.6875rem; content:'.';}

#detail_top{position:fixed; top:0; width:100%; max-width:100%; z-index:10;}
/*************************** header end ***************************/


/*************************** footer start ***************************/
.footer_top{height:.5rem; background-color:#f6f6f6;}

.follow_us_list{height:2rem; padding:1rem 0; text-align:center;}
.follow_us_list li{width:2rem; margin:0 .15rem; display:inline-block;}
.follow_us_list li>a{width:inherit; height:2rem; line-height:2rem; overflow:hidden; white-space:nowrap; text-indent:50rem; background-repeat:no-repeat; background-size:100%; display:block;}
.icon_follow_facebook{background-image:url(../images/icon_follow_facebook.png);}
.icon_follow_twitter{background-image:url(../images/icon_follow_twitter.png);}
.icon_follow_pinterest{background-image:url(../images/icon_follow_pinterest.png);}
.icon_follow_linkedin{background-image:url(../images/icon_follow_linkedin.png);}
.icon_follow_youtube{background-image:url(../images/icon_follow_youtube.png);}
.icon_follow_google{background-image:url(../images/icon_follow_google.png);}
.icon_follow_vk{background-image:url(../images/icon_follow_vk.png);}
.icon_follow_instagram{background-image:url(../images/icon_follow_instagram.png);}

.newsletter_box{padding:.125rem .625rem; text-align:center;}
.newsletter_box>h3{text-transform:uppercase; font-family:Georgia; font-size:1.5rem; color:#333; letter-spacing:.1rem;}
.newsletter_box .newsletter_main{margin-top:.5rem;}
.newsletter_box .form_text{width:100%; height:2.3rem; line-height:2.3rem; text-align:center; font-size:.875rem; background-color:#f6f6f6; border-bottom:1px #ddd solid; display:block; border-radius:0;}
.newsletter_box .form_button{width:40%; height:2rem; line-height:2rem; margin:1.5rem 0; font-size:1rem; color:#fff; border-radius:.3215rem;}

.footer_list{margin-left:.625rem;}
.footer_list>li>a{height:3rem; line-height:3rem; margin-right:1rem; color:#333; position:relative; display:block;}
.footer_list>li>a .title{width:80%; overflow:hidden; text-indent:.5rem; font-size:.875rem; float:left;}
.footer_list>li>a em{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #999; border-style:solid; display:block; position:absolute; top:0; right:0; z-index:10; -webkit-transform:-webkit-rotate(90deg); transform:rotate(90deg); -webkit-transition:all .4s; transition:all .4s;}
.footer_list>li>a i{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:-.09rem; right:0; z-index:11; -webkit-transform:-webkit-rotate(90deg); transform:rotate(90deg); -webkit-transition:all .4s; transition:all .4s;}
.footer_list>li>a em, .footer_list>li>a i{margin-top:1.2rem;}
.footer_list>li>a.list_close i{top:0; right:.1rem;}
.footer_list>li>a.list_close em, .footer_list>li>a.list_close i{-webkit-transform:-webkit-rotate(0); transform:rotate(0);}
.footer_list>li .help_list{background-color:#f6f6f6; display:none;}
.footer_list>li .help_list>li{width:50%; height:2.5rem; line-height:2.5rem; overflow:hidden; float:left;}
.footer_list>li .help_list>li>a{text-indent:.5rem; font-size:.875rem; color:#333; display:block;}
.footer_list>li .sort_down{width:0; height:0; float:right; border-left:.05rem solid transparent; border-right:.05rem solid transparent; border-top:.07rem solid #999; margin:.18rem -1px 0 .07rem;}
.footer_list>li:last-child{border-bottom:0;}

footer{position:relative;}
footer nav{line-height:1.875rem; margin:0; padding:.625rem 0 0; text-align:center; background-color:#f6f6f6;}
footer nav a{margin:0 1.5%; font-size:.75rem; color:#666; white-space:nowrap; word-break:keep-all;}
footer .partners_box{padding:.625rem 0 0; text-align:center; background-color:#f6f6f6;}
footer .partners_box a{margin:.3125rem; display:inline-block;}
footer .partners_box img{max-width:5rem; max-height:2rem; vertical-align:middle;}
footer section, footer section a{line-height:1.5rem; padding:.625rem 0; text-align:center; color:#848181; background-color:#f6f6f6;}
footer section a{border:0;}
footer .c_lang{font-size:.2rem; line-height:.46rem; height:.46rem; border-top:1px #eee solid; padding:0 3%;}
footer .window_list{position:fixed; top:45%; display:none; width:80%; left:10%; background:rgba(0,0,0,.7); border-radius:.08rem; padding:.625rem 0; z-index:10001;}
footer .window_list .c{line-height:1.25rem; text-align:center; position:relative;}
footer .window_list .c .close{width:1.5625rem; height:1.5625rem; content:''; background:url(../images/close.png) no-repeat center center/75%; position:absolute; top:-1.3rem; right:-.6rem;}
footer .window_list a{color:#fff;}
footer .window_list a>img{margin-right:.3125rem;}

.footer_menu_bg{background:#fff; padding-top:.05rem;}
.footer_menu .menu{border-top:1px #ddd solid; height:.44rem; line-height:.44rem; position:relative;}
.footer_menu .menu>a{display:block; text-decoration:none; line-height:.44rem; padding:0 .15rem; font-size:.18rem;}
.footer_menu .menu>em, .footer_menu .menu>i{border-width:.06rem 0 .06rem .06rem; border-style:solid; display:block; position:absolute; top:.16rem; }
.footer_menu .menu>em{right:.14rem; z-index:10;}
.footer_menu .menu>i{right:.17rem; z-index:11;}
/*************************** footer end ***************************/



/*************************** 浮动在线客服 start ***************************/
#float_chat .float_list{width:2.5rem; height: 8.5rem; overflow:hidden; position:fixed; bottom:20%; right:.5rem; z-index:1000;}
#float_chat .float_list>a{width:2.5rem; height:2.5rem; overflow:hidden; margin-bottom:.5rem; text-indent:9.99rem; background-image:url(../images/icon_chat.png); background-repeat:no-repeat; background-position:center center; background-size:1.3rem; display:block;}
#float_chat .float_list>a.message_us{background-image: none;text-indent: 0;}
#float_chat .float_list>a.btn_top{background-image:url(../images/icon_to_top.png); background-color:rgba(119,119,119,.5); background-size:1.6rem; display:none;}
#float_chat .inner_chat{width:80%; line-height:.44rem; margin-top:-.96rem; padding:.16rem 0 .32rem; text-align:left; font-size:.75rem; color:#fff; background:rgba(255,255,255,.95); border-radius:.5rem; position:fixed; left:10%; top:47%; z-index:10001; display:none;}
#float_chat .inner_chat .chat_hd{line-height:180%; margin-left:.75rem; padding:.75rem 0 .2rem; font-size:.875rem; color:#fff;}
#float_chat .inner_chat .chat_bd{width:92%; height:9.375rem; overflow-y:scroll; padding:.5rem 4%;}
#float_chat .inner_chat .chat_bd>a{height:2.5rem; line-height:2.5rem; padding-left:18%; font-size:1rem; color:#333; background:url(../images/chat_skype.png) no-repeat 10% center; border-bottom:.0625rem #ddd solid; display:block;}
#float_chat .inner_chat .chat_bd .skype{background:url(../images/chat_skype.png) no-repeat 10% center/1rem;}
#float_chat .inner_chat .chat_bd .email{background:url(../images/chat_email.png) no-repeat 10% center/1rem;}
#float_chat .inner_chat .chat_bd .whatsapp{background:url(../images/chat_whatsapp.png) no-repeat 10% center/1rem;}
#float_chat .inner_chat .chat_close{width:2rem; height:2rem; margin:0 auto; background:url(../images/icon_close.png) no-repeat center center/75%; content:'';}
/*************************** 浮动在线客服 end ***************************/



/*************************** 单页/文章 start ***************************/
.art_content{font-size:.75rem; padding:1.25rem .625rem; line-height:1rem; box-sizing:border-box; -webkit-box-sizing:border-box;}
.art_content *{font-size:.75rem; line-height:1.25rem;}

.art_menu{padding:0 .625rem; border:#cecece solid; border-width:.0625rem 0;}
.art_menu>a{height:2.5rem; line-height:2.5rem; font-size:.875rem; color:#535353; background:no-repeat .8rem center; background-size:1.5rem; border-bottom:.0625rem #ddd solid; display:block;}
.art_menu>a>em{margin-top:.9rem; border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #999; border-style:solid; float:right; display:block; position:relative; z-index:10;}
.art_menu>a>em>i{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:-.4rem; right:.1rem; z-index:11;}
.art_menu>a:last-child{border:0;}

.info_list{margin-bottom:2rem;}
.info_list li{line-height:1.25rem; padding:.5rem 0; border-bottom:.0625rem #ddd dotted;}
.info_list li>a{width:75%; height:1.25rem; overflow:hidden; font-size:.75rem; color:#333; float:left; display:block; box-sizing:border-box; -webkit-box-sizing:border-box;}
.info_list li .time{width:25%; line-height:1.25rem; text-align:right; font-size:.75rem; color:#999; float:right; display:block; box-sizing:border-box; -webkit-box-sizing:border-box;}
.info_list li:first-child{padding-top:0;}
/*************************** 单页/文章 end ***************************/



/*************************** 产品列表页 start ***************************/
.icon_sort{width:0; height:0; margin:-.6rem 0 0 .3rem; border-left:.2rem solid transparent; border-right:.2rem solid transparent; border-top:.3rem solid #7f7f7f; display:inline-block;}
.icon_refine{width:1rem; height:1rem; margin:0 0 -.2rem .2rem; background:url(../images/icon_refine.png) no-repeat center; background-size:.8rem; display:inline-block;}

#filter{padding:.625rem; position:relative;}
.prod_sort>li{position:relative; float:left;}
.prod_sort>li+li{margin-left:.75rem;}
.prod_sort>li>a{line-height:1rem; padding:.3125rem .625rem; color:#333; background-color:#f2f2f2; border:.0625rem #f2f2f2 solid; border-radius:.3125rem; position:relative; display:block;}
.prod_sort>li>a.current{background-color:#fff;}
.prod_sort>li>a>em{display:none;}
.prod_sort>li>a.current>em{width:100%; height:.7rem; background-color:#fff; border:#f2f2f2 solid; border-width:0 .0625rem; position:absolute; bottom:-.55rem; left:-.0625rem; z-index:1015; display:block;}

.dropdown_menu{width:101%; background-color:#fff; position:absolute; top:93%; left:-.0625rem; z-index:1010; display:none;}
.dropdown_menu>li{margin:0 .75rem;}
.dropdown_menu>li>a{line-height:1.5rem; padding:.3125rem; font-size:.875rem; font-weight:400; white-space:nowrap; color:#555; display:block; clear:both;}
.dropdown_menu>li>a.current{color:#005ab0; background:url(../images/icon_current.png) no-repeat right center; background-size:1rem;}
.dropdown_menu>li>a>i, .sort_price{width:.09rem; height:.11rem; margin-left:.07rem; vertical-align:middle; display:inline-block;}
.sort_icon_arrow{background:url(../../default/images/global/normal.png) no-repeat -4.61rem -.24rem;}
.sort_icon_arrow_down{background:url(../../default/images/global/normal.png) no-repeat -4.42rem -.24rem; margin-bottom:3px;}
.sort_icon_arrow_up{background:url(../../default/images/global/normal.png) no-repeat -4.87rem -1.16rem; margin-bottom:3px;}

.overflow_hidden{overflow:hidden; height:100%;}

#pro_box{position:relative;}
#prolist_mask, #prolist_mask_footer{width:100%; height:100%; overflow:hidden; position:absolute; top:0; left:0; background:#000; opacity:0.6; z-index:1000; display:none;}
/*************************** 产品列表页 end ***************************/



/*************************** 会员中心 Start ***************************/
.null{-webkit-animation:null .3s 2 0s linear forwards; animation:null .3s 2 0s linear forwards;}

.user_login_tab{height:3.125rem; overflow:hidden; margin:1.25rem .625rem; border:.0625rem #e0e0e0 solid; border-radius:.3125rem;}
.user_login_tab div{width:50%; line-height:3.125rem; text-align:center; font-size:1.25rem; color:#bbb; background-color:#f0f0f0;}
.user_login_tab div.on{color:#646464; background-color:#fff;}

.user_binding{margin:1.25rem .526rem;}

.user_login{margin:.3rem .526rem .16rem;}
.user_login .rows{margin:0 .9375rem .625rem;}
.user_login .rows .field{font-size:.875rem; line-height:1.5rem;}
.user_login .rows .input{font-size:.75rem; line-height:.75rem;}
.user_login .rows .box_input{width:96%; padding:0 2%;}
.user_login .rows .box_input.null{border-color:#f00;}
.user_login .rows .form_code .box{width:30%;}
.user_login .rows .form_code .box .field{height:1.25rem;}
.user_login .rows .form_code .box img{height:2.1875rem; line-height:2.1875rem;}
.user_login .rows .form_code .box:first-child{width:64%;}
.user_login .rows p.error{line-height:1rem; color:#f00; display:none;}
.user_login .user_login_box{margin:0 .526rem;}
.user_login .user_login_t{line-height:1.25rem; margin:.75rem auto .625rem; padding-left:5%; font-size:1rem; color:#262626;}
.user_login .user_input{line-height:2.1875rem; margin:0 auto; padding-left:2.5rem; padding-bottom:.75rem;}
.user_login .user_input .ui_border_b{padding-bottom:.75rem;}
.user_login .user_input input{width:100%; padding-left:2%; color:#7e7e7e; font-size:1rem; background:none; box-sizing:border-box; -webkit-box-sizing:border-box;}
.user_login .user_email{background:url(../images/icon_user_login_email.png) no-repeat .5rem .5rem/1rem;}
.user_login .user_password{background:url(../images/icon_user_login_password.png) no-repeat .5rem .5rem/1rem;}
.user_login .user_forgot{padding:.3125rem 0; text-align:center;}
.user_login .user_forgot>a{font-size:1rem; color:#a4a4a4;}
.user_login .null{background:#FFF3F3; animation:null .3s 2 0s linear forwards; -webkit-animation:null .3s 2 0s linear forwards;}
.user_login .oauth_title{width:60%; height:1rem; line-height:1rem; margin:2.5rem auto 1.5rem; text-align:center; position:relative;}
.user_login .oauth_title .float{width:100%; height:2rem; position:absolute; top:0; left:0; display:block;}
.user_login .oauth_title .float>strong{height:2rem; line-height:2rem; margin:0 auto; padding:0 .625rem; font-size:1rem; color:#c1c1c1; background-color:#fff;}
.user_login .oauth_body{padding-bottom:3rem; text-align:center;}
.user_login .login_ex{width:3rem; height:3rem; overflow:hidden; margin:.3rem .3rem; background-color:#c00; display:inline-block; vertical-align:middle;}
.user_login .login_ex a{width:inherit; height:inherit; overflow:hidden; text-indent:-999rem; display:block;}

.user_login .oauth_body #fb_button{background:url(../images/icon_login_facebook.png) no-repeat center/100%;}
.user_login .oauth_body #paypalLogin{/*background:url(../images/icon_login_paypal.png) no-repeat center/100%; */background:none; margin-bottom:.3rem !important;}
.user_login .oauth_body #paypalLogin .PPBlue{width:3rem !important; height:3rem !important; border-radius:1.5rem !important; border:none !important; overflow:hidden; display:block;}
.user_login .oauth_body #paypalLogin .PPBlue b{display:none !important;}
.user_login .oauth_body #paypalLogin .PPBlue svg, .user_login .oauth_body #paypalLogin .PPBlue path{font-size:1.5rem !important;}
.user_login .oauth_body #google_btn{background:url(../images/icon_login_google.png) no-repeat center/100%;}
.user_login .oauth_body #vk_button{background:url(../images/icon_login_vk.png) no-repeat center/100%;}

.user_login_btn{margin:1.25rem 0 .75rem;}
.user_login_btn .btn_submit{color:#fff;}
.user_login_btn .btn_sign_up{width:93%; margin:0 .9375rem;}
.user_login_btn .btn_back{width:93%; margin:.875rem .9375rem 0; color:#333; background-color:#ddd;}

.user_login #binding_form  .user_input{padding:0 5%;}
.user_login #binding_form  .btn_global{width:90%; margin:0 5%;}

.form_forgot{margin:.3125rem .625rem;}
.form_forgot .forgot_back{line-height:1rem;}
.form_forgot .forgot_back>a{text-decoration:underline;}
.form_forgot .title{height:1.5rem; margin-top:.625rem; font-size:1rem; color:#333;}
.form_forgot .error_note_box{line-height:1rem; padding:.625rem; font-size:.75rem; color:#f00; background:#fff9e1; border:.0625rem #ffdb83 solid; border-radius:.3125rem; display:none;}
.form_forgot .on_error{margin:.3125rem 0; color:#f00; font-size:.75rem; display:none;}
.form_forgot .row{margin:.625rem 0;}
.form_forgot .row label{margin-bottom:.625rem; color:#555; display:block;}
.form_forgot .row input{width:100%; padding-left:5.7%; color:#555; box-sizing:border-box; -webkit-box-sizing:border-box;}
.form_forgot .intro{height:inherit; line-height:1rem; margin:.625rem 0; color:#555;}
.form_forgot .intro a{color:#0654ba; text-decoration:underline;}
.form_forgot .intro dt{font-weight:bold;}
.form_forgot .intro dd{margin-top:.625rem;}
.form_forgot .btn{margin:.75rem 0 1.5rem; color:#fff;}

.page_title{height:1.875rem; line-height:1.875rem; padding-left:3%; font-size:.875rem; color:#555; background:#e4e4e4; overflow:hidden;}
.page_title .pos{height:.48rem; overflow:hidden; width:300%;}
.page_title .pos .column{line-height:.48rem; font-size:.24rem; color:#555; height:.48rem;}
.page_title a{font-size:.24rem; color:#555;}
.user_tab .item{height:.8rem; line-height:.8rem; -webkit-box-sizing:border-box; box-sizing:border-box; width:50%; text-align:center; font-size:.24rem; font-weight:bold; color:#666; border-bottom:1px solid #e1e1e1;}
.user_tab .item:first-child{border-right:1px solid #e1e1e1;}
.user_tab .item.on{border-bottom:.04rem solid #f90;}
.user_active{font-size:.24rem; line-height:.78rem; height:.78rem; width:92.5%; margin:0 auto; border-bottom:1px solid #dadada;}

.user_data .name{line-height:1.5rem; padding:6rem 0 1rem; text-align:center; font-size:1rem; color:#fff; background-image:url(../images/bg_user_logo.png); background-repeat:no-repeat; background-position:center 1.2rem; background-size:4.5rem;}
.user_data .info{padding:.625rem .75rem;}
.user_count{padding:1.5rem 0;}
.user_count .box{width:50%; padding-left:4.3rem; background:url(../images/icon_user_all_orders.png) no-repeat 1rem center #fff; background-size:2.5rem; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.user_count .box .num{font-size:2rem; color:#575757;}
.user_count .box .link{line-height:1rem; font-size:.75rem; color:#808080;}
.user_count .box:first-child{background-image:url(../images/icon_user_shopping_cart.png); border-right:.0625rem #ddd solid;}
.user_menu>a{height:3rem; line-height:3rem; font-size:.875rem; color:#535353; background:no-repeat .8rem center; background-size:1.5rem; display:block;}
.user_menu>a>span{margin-left:3rem; text-indent:.2rem; display:block;}
.user_menu>a>span>em{margin:1.2rem 1rem 0 0; border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #999; border-style:solid; float:right; display:block; position:relative; z-index:10;}
.user_menu>a>span>em>i{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:-.4rem; right:.1rem; z-index:11;}
.user_menu>a:last-child{border:0;}
.user_menu>a.orders{background-image:url(../images/icon_user_menu_orders.png);}
.user_menu>a.favorite{background-image:url(../images/icon_user_menu_favorites.png);}
.user_menu>a.coupon{background-image:url(../images/icon_user_menu_coupons.png);}
.user_menu>a.address{background-image:url(../images/icon_user_menu_address.png);}
.user_menu>a.inbox{background-image:url(../images/icon_user_menu_inbox.png);}
.user_menu>a.setting{background-image:url(../images/icon_user_menu_setting.png);}
.user_menu>a.password{background-image:url(../images/icon_user_menu_password.png);}
.user_button{padding:1rem .625rem 3rem; background-color:#f5f5f5;}
.user_button .btn_sign_out{font-size:.875rem; background-color:#fff; border:.0625rem solid;}

.user_order{margin-top:.3rem;}
.user_order .title{height:2.5rem; line-height:2.5rem; padding:0 .625rem; font-size:.875rem; background-color:#fff;}
.user_order .title .oid{color:#646464; float:left;}
.user_order .title .status{margin-right:.6rem; color:#d60707; float:right;}
.user_order .title em{margin-top:.9rem; border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #999; border-style:solid; float:right; display:block; position:relative; z-index:10;}
.user_order .title em>i{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:-.4rem; right:.1rem; z-index:11;}
.user_order .prod_list{background-color:#fff;}
.user_order .prod_list .prod_tr{display:none;}
.user_order .prod_list .prod_box{margin-bottom:.3125rem; padding:.625rem;}
.user_order .prod_list .plist{margin-left:3rem;}
.user_order .prod_list .plist>div{float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.user_order .prod_list .plist .img{width:20%; height:4rem; text-align:center; background-color:#fff;}
.user_order .prod_list .plist .img img{height:100%; vertical-align:middle;}
.user_order .prod_list .plist .info{width:65%; padding-left:.5rem;}
.user_order .prod_list .plist .info .name{max-height:2rem; line-height:1rem; overflow:hidden; margin-bottom:.2rem;}
.user_order .prod_list .plist .info .name>a{font-size:.875rem; color:#666;}
.user_order .prod_list .plist .info .number{margin-bottom:.2rem; color:#bab9b9;}
.user_order .prod_list .plist .info .attr{height:.75rem; line-height:.75rem; padding:.25rem 0; color:#666;}
.user_order .prod_list .plist .value{width:15%; text-align:right;}
.user_order .prod_list .plist .value .price{line-height:1rem; color:#333;}
.user_order .prod_list .plist .value .qty{line-height:1rem; color:#898989;}
.user_order .prod_list .plist.first{margin-left:0;}
.user_order .prod_list .package{padding-top:.625rem;}
.user_order .total{height:2.5rem; line-height:2.5rem; padding:0 .625rem; text-align:right; font-size:.875rem; background-color:#fff;}
.user_order .total .btn_more{width:auto; height:1.5rem; line-height:1.5rem; margin-top:.5rem; padding:0 1rem 0 .75rem; text-decoration:none; font-size:.75rem; color:#333; float:left;}
.user_order .total .btn_more em{margin:.4rem 0 0 .5rem; border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #999; border-style:solid; float:right; display:block; position:relative; z-index:10; -webkit-transform:-webkit-rotate(90deg); transform:rotate(90deg); -webkit-transition:all .4s; transition:all .4s;}
.user_order .total .btn_more em>i{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:-.4rem; right:.1rem; z-index:11;}
.user_order .total .btn_more.current em{-webkit-transform:-webkit-rotate(270deg); transform:rotate(270deg);}

.user_tips_txt{line-height:.32rem; font-size:.24rem; padding:1.6rem 2%; background:#fff;}
.user_tips_txt a{font-size:.24rem; color:#d00;}

.order_detail{background:url(../images/bg_user_order_detail.jpg) repeat-x top/20%;}

.detail_box{padding-left:.625rem;}
.detail_box .title{line-height:1.5rem; font-size:.875rem;}
.detail_box .title>div{padding:.625rem .625rem .4rem .15rem;}
.detail_box .txt{padding:.625rem 0 .4rem;}
.detail_box .txt .rows{margin:.625rem 0;}
.detail_box .txt .rows>strong, .detail_box .txt .rows>span{line-height:1rem; font-size:.875rem; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.detail_box .txt .rows>strong{width:30%; text-align:left;}
.detail_box .txt .rows>span{width:70%; padding-right:.625rem; text-align:right; color:#666; float:right;}
.detail_box .txt .rows>p{width:70%; line-height:1rem; padding-bottom:.3rem; text-align:left; font-size:.875rem; color:#666; float:right;}
.detail_box .txt .rows>p .track{text-decoration:underline;}
.detail_box .txt .payment_method{line-height:1rem; padding-left:.75rem; font-size:.75rem;}

/* 取消订单 or 修改付款方式 */
.order_cancel .detail_box{padding-right:.625rem;}
.order_cancel .box_select{margin-bottom:1.5rem;}

.detail_prolist{margin:0 .625rem;}
.detail_prolist .waybill_products_list{margin-top:1.25rem;}
.detail_prolist .waybill_products_list:first-child{margin-top:0;}
.detail_prolist .row_hd{line-height:1.25rem; margin-top:1.25rem; font-size:.875rem;}
.detail_prolist .row_hd>strong, .detail_prolist .row_hd>span{margin-right:1rem;}
.detail_prolist .row_hd:first-child{margin-top:0;}
.detail_prolist .item{padding:.625rem 0;}
.detail_prolist .item>div{float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.detail_prolist .item .img{width:20%; height:4rem; text-align:center; background-color:#fff;}
.detail_prolist .item .img img{height:100%; vertical-align:middle;}
.detail_prolist .item .info{width:65%; padding-left:.5rem;}
.detail_prolist .item .info .name{line-height:1rem; margin-bottom:.2rem;}
.detail_prolist .item .info .name>a{font-size:.875rem; color:#666;}
.detail_prolist .item .info .number{margin-bottom:.2rem; color:#bab9b9;}
.detail_prolist .item .info .attr{height:.75rem; line-height:.75rem; padding:.25rem 0; color:#666;}
.detail_prolist .item .value{width:15%; text-align:right;}
.detail_prolist .item .value .price{line-height:1rem; color:#d60707;}
.detail_prolist .item .value .qty{line-height:1rem; color:#d60707;}
.detail_prolist .item .fav_img{width:30%; height:6.25rem;}
.detail_prolist .item .fav_info{width:70%; min-height:6.25rem; position:relative;}
.detail_prolist .item .fav_info .price{line-height:1rem; font-size:.875rem; color:#333;}
.detail_prolist .item .fav_info .del{height:1.5rem; line-height:1.5rem; padding:0 .75rem; font-size:.875rem; background:#fff; border:.0625rem #ddd solid; border-radius:.3125rem; position:absolute; left:.5rem; bottom:0; display:inline-block; vertical-align:top;}
.detail_prolist .item:first-child{padding-top:0;}

.detail_summary{padding:.625rem;}
.detail_summary>div{padding:.45rem 0; line-height:.75rem;}
.detail_summary>div .key, .detail_summary>div .value{font-size:.875rem; float:left;}
.detail_summary>div .key{width:70%; text-align:left; color:#404040;}
.detail_summary>div .value{width:27%; padding-left:3%; text-align:right; color:#d60707;}
.detail_summary>div .value span{font-size:.875rem; color:#d60707;}
.detail_summary>div .total{font-size:1rem; color:#d60707;}

.detail_button{padding:1rem .625rem 0; background-color:#f5f5f5;}
.detail_button .btn_payment{margin-bottom:.875rem; font-size:.95rem; color:#fff;}
.detail_button .btn_delete{font-size:.95rem; color:#fff; background-color:#ccc;}

.m_form_area{width:100%; height:5rem; line-height:1rem; margin:.75rem 0 .625rem; resize:none; background:#fff; box-sizing:border-box; -webkit-box-sizing:border-box;}
.m_form_button{width:100%; color:#fff; display:block;}
.m_form_back{margin-top:.625rem; color:#333; background-color:#ccc;}

.user_favorite{padding-top:.75rem;}

.user_coupon{margin:.75rem .625rem;}
.user_coupon .item{line-height:2.1875rem; padding:.625rem 0;}
.user_coupon .item .cpnum{line-height:1.5rem; margin-left:2%;}
.user_coupon .item .cpnum .fcr{color:#f00;}
.user_coupon .item .cpnum .fcg{color:#999;}
.user_coupon .item .cpdate{line-height:1.5rem; margin-right:2%; font-size:.75rem; color:#666;}
.user_coupon .item:first-child{padding-top:0;}

/*global*/
#u_header{ height:3.125rem; border-bottom:1px solid #eee;}
#u_header a{ width:1.875rem; height:3.125rem; display:block; position:absolute; top:0;}
#u_header a.back{ left:0.625rem; background:url(../images/u_icon_back.png) center no-repeat; background-size:auto 1.125rem;}
#u_header a.menu{ left:2.8125rem; background:url(../images/u_icon_menu.png) center no-repeat; background-size:auto 1rem;}
#u_header a:nth-child(1){ left:0.625rem;}
#u_header a.cart{ right:0.9375rem; background:url(../images/u_icon_cart.png) center no-repeat; background-size:auto 1.25rem;}
#u_header a.cart i{ width:0.5rem; height:0.5rem; display:block; position:absolute; right:0.125rem; top:0.8125rem; border:1px solid #fff; border-radius:0.3125rem;}
#u_header .title{ line-height:3.125rem; text-align:center; font-size:1.125rem;}

#user .global_tab{ border-bottom:1px solid #eee; background:#f4f4f4; height:3.125rem;}
#user .global_tab li{ width:50%; height:3.125rem; line-height:3.125rem; text-align:center; float:left; overflow:hidden; box-sizing:border-box; position:relative;}
#user .global_tab li.current{ border-bottom:2px solid #f9b61e;}
#user .global_tab li a{ width:100%; height:100%; display:inline-block; color:#666; font-size:1rem;}
#user .global_titile{ height:3.125rem; line-height:3.125rem; background:#f4f4f4; font-size:1rem; text-align:center;}
#user .global_line{ height:0.625rem; background:#f4f4f4;}

/*address*/
#user .address_row{ border-top:1px solid #eee; border-bottom:1px solid #eee;}
#user .address_row .info { padding:0.9375rem 1.25rem;}
#user .address_row .info strong{ font-size:1rem; color:#666; line-height:1.25rem; display:inline-block; margin-bottom:0.625rem;}
#user .address_row .info p{ font-size:14px; color:#999; line-height:1.25rem;}
#user .address_row .para{ padding:0 1.25rem; border-top:1px solid #ececec; height:3.125rem; line-height:50px; text-align:right; color:#999;}
#user .address_row .para span{ margin:0 0.3125rem;}
#user .address_row .para a{ font-size:0.875rem; display:inline-block;}
#user .address_row .para a.noselected,#user .address_row .para a.edit,#user .address_row .para a.del{ color:#999;}
#user .address_row .para a.fl i{ width:1.25rem; height:1.25rem; display:inline-block; background-image:url(../images/icon_selected.png); background-size:100% 100%; vertical-align:text-bottom; margin-right:0.5rem;}
#user .address_row .para a.selected i{ background-image:url(../images/icon_selected_current.png);}
#user .address_btn{ height:2.5rem; line-height:2.5rem; display:block; text-align:center; color:#fff; margin:1rem 1.25rem; font-size:0.875rem; border-radius:3px;}
#user .address_btn.back{ background:#ccc;}
#user .address_btn em{ font-size:1.375rem; display:inline-block; vertical-align:top; margin-right:0.3125rem;}

.user_address_form{margin:.75rem 0;}
.user_address_form .title{line-height:1.5rem; margin-bottom:.625rem; padding:.3125rem .625rem; font-size:1rem; border-bottom:.0625rem #ddd solid;}
.user_address_form .rows{margin:0 .625rem .3125rem;}
.user_address_form .rows .field{font-size:.875rem; line-height:1.5rem;}
.user_address_form .rows .input{font-size:.75rem; line-height:.75rem;}
.user_address_form .rows .box_input{width:100%; padding:0 .5rem; box-sizing:border-box; -webkit-box-sizing:border-box;}
.user_address_form .rows .box_input.null{border-color:#f00;}
.user_address_form .rows .box_input_group{position:relative;}
.user_address_form .rows .box_input_group .input_group_addon{width:20%; height:2.1875rem; line-height:2.1875rem; text-align:center; white-space:nowrap; border:.0625rem #ddd solid; border-right:0; border-top-right-radius:0; border-bottom-right-radius:0; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.user_address_form .rows .box_input_group .input_group{width:80%; height:2.1875rem; line-height:2.1875rem; padding:0 .5rem; border-top-left-radius:0; border-bottom-left-radius:0; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.user_address_form .rows p.error{line-height:1rem; color:#f00; display:none;}
.user_address_form .address_button{margin:.75rem .625rem .875rem;}
.user_address_form .address_button .btn{margin-bottom:.75rem; color:#fff;}
.user_address_form .address_button .btn_back{background-color:#ccc;}
#countryCode{text-align:center;}
/*************************** 会员中心 End ***************************/



/*************************** 购物车 Start ***************************/
.nocart{padding:10rem 0 2rem; text-align:center; font-size:1rem; color:#939393; background:url(../images/bg_no_cart.png) no-repeat center 1.5rem; background-size:10rem;}

.cart_list{padding:0;}
.cart_list .item{width:100%; padding:.8rem .625rem; position:relative; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_list .item .check{width:2rem; height:4rem; overflow:hidden;}
.cart_list .item .check>input{display:none;}
.cart_list .item .check .btn_checkbox{width:1.4rem; height:1.4rem; margin-top:1.25rem; margin-right:.1rem; background-image:url(../images/icon_checkbox_four.png); background-repeat:no-repeat; background-position:center; background-size:100%; display:inline-block; vertical-align:top; border-radius:0.7rem; overflow:hidden;}
.cart_list .item .check .btn_checkbox.current{background-image:url(../images/icon_checkbox_four_current.png);}
.cart_list .item .img{width:4.5rem; height:4.5rem; text-align:center;}
.cart_list .item .img img{max-height:100%; vertical-align:middle;}
.cart_list .item .info{margin-left:7rem;}
.cart_list .item .error{width:80%; line-height:1rem; font-size:.875rem; color:#666;}
.cart_list .item .name{width:100%; min-height:1rem; line-height:1rem; margin-bottom:.3125rem;}
.cart_list .item .name>a{font-size:.875rem; color:#333;}
.cart_list .item .rows{width:100%; padding:.625rem 0; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_list .item .attr{line-height:160%; padding:0; color:#bdbdbd;}
.cart_list .item .ui_border_t{margin-top:.3125rem; padding-bottom:0;}
.cart_list .item .price{line-height:1rem; font-size:1.25rem; color:#d60707;}
.cart_list .item .qty_box{width:50%;}
.cart_list .item .qty_box div{width:33%; height:2.1875rem; line-height:2.1875rem; overflow:hidden; text-align:center; font-size:.4rem; color:#656565; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_list .item .qty_box .cut, .cart_list .item .qty_box .qty, .cart_list .item .qty_box .add{font-size:1.5rem; color:#999; border:.0625rem #ccc solid;}
.cart_list .item .qty_box .cut, .cart_list .item .qty_box .add{background-color:#f7f7f7;}
.cart_list .item .qty_box .cut{line-height:2rem;}
.cart_list .item .qty_box .qty{width:33%; border-width:.0625rem 0;}
.cart_list .item .qty_box .qty input{width:100%; line-height:2.0625rem; text-align:center; font-size:.875rem; color:#555; border:0;}
.cart_list .item .remark_box{padding:0;}
.cart_list .item .remark_box .title{line-height:2.5rem;}
.cart_list .item .remark_box input{width:100%; padding-left:2%; font-size:.75rem; background-color:#f4f4f4; border-color:#ededed; border-radius:0; box-sizing:border-box; -webkit-box-sizing:border-box;}
/*.cart_list .item .del{width:16%; height:2.2rem; overflow:hidden; text-indent:-99rem; background:url(../images/icon_cart_delete.png) no-repeat center; background-size:70%; float:right;}*/
.cart_list .item .del{height:2.2rem; line-height:2.2rem; overflow:hidden; margin-left:1rem; font-size:1rem; color:#666; float:left; display:inline-block;}
.cart_list .item:first-child{padding-top:.5rem;}
.cart_list .item:last-child{border:0;}
.cart_list .null{padding-bottom:0;}

.cart_total{padding:1rem 0; text-align:center;}
.cart_total>div{line-height:1.65rem;}
.cart_total>div>span{font-size:.875rem; color:#cb2027;}
.cart_total>div .title{color:#5c5c5c;}
.cart_total>div.total>span{font-size:.875rem;}
.cart_total>div.total>span.p{font-size:1.125rem; font-weight:700;}
.cart_total>div.total .title{font-size:1.125rem; font-weight:700; color:#333;}
.cart_total>div.total strong{font-size:1.125rem; font-weight:normal; color:#999;}

.cart_btn{padding:0 .625rem .625rem;}
.cart_btn .btn{width:100%; height:3rem; line-height:3rem; margin:.45rem 0; text-align:center; text-transform:uppercase; font-size:1.25rem; color:#333; border:0; border-radius:.3125rem; display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_btn .paypal_checkout_button{background:url(../images/btn_paypal_checkout.png) no-repeat center center #ffc41e; background-size:70%;}
.cart_btn .checkout{color:#fff;}
.cart_btn .processing{color:#bbb; background:linear-gradient(0deg, #fcfcfc 0%, #f2f2f2 100%);}

.cart_recently{overflow:hidden; margin:0 .625rem 1rem;}
.cart_recently .t{line-height:3.125rem; text-align:center; font-size:1rem; color:#5f5f5f;}
.cart_recently .list .item{width:48%; margin-bottom:.625rem; padding:.625rem; border-radius:.125rem; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_recently .list .item .pic{height:9.5rem; overflow:hidden;}
.cart_recently .list .item .pic img{max-height:100%;}
.cart_recently .list .item .name{height:2rem; overflow:hidden; margin-top:.3125rem;}
.cart_recently .list .item .name>a{line-height:1rem; font-size:.75rem; color:#333;}
.cart_recently .list .item .price{margin-top:.3125rem; font-size:.75rem; color:#d60707;}
.cart_recently .list .item:nth-child(odd){margin-right:4%;}

.cart_step{margin:.95rem .625rem 0;}
.cart_step>div{width:32%; height:2rem; line-height:2rem; margin-left:1.5%; text-align:center; font-size:.75rem; color:#fff; background-color:#ddd; position:relative; float:left;  box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_step>div>em{border-width:1rem 0 1rem 1rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:0; left:0; z-index:10;}
.cart_step>div>i{border-width:1rem 0 1rem 1rem; border-color:transparent transparent transparent #ddd; border-style:solid; display:block; position:absolute; top:0; right:-1rem; z-index:11;}
.cart_step>div.step_0{width:33%; margin-left:0;}
.cart_step>div.current{background-color:#005ab0;}
.cart_step>div.current>i{border-color:transparent transparent transparent #005ab0;}

.checkout_box .title{padding:1.25rem .625rem .875rem; font-size:1rem;}
.checkout_box .txt{padding:.875rem .625rem .875rem;}
.checkout_box .txt .address_row{margin-bottom:.06rem; line-height:1rem;}
.checkout_box .txt .address_row>strong{font-size:.875rem; color:#999;}
.checkout_box .txt .address_row>p{margin-top:.3125rem; font-size:.75rem; color:#999;}
.checkout_box .txt .address_btn{margin-top:.1rem;}
.checkout_box .txt .address_btn .btn{margin-top:.875rem; text-align:center; font-size:.875rem; color:#333; border:.0625rem solid; border-radius:.3125rem; display:block;}
.checkout_box .txt .address_btn .change{background-color:#fff; border-color:#ddd;}
.checkout_box .txt .address_btn .add_address{color:#fff;}
.checkout_box .txt .address_btn .add_address>em{margin-right:.3125rem; font-size:.875rem; font-weight:bold; display:inline-block; vertical-align:top;}

.checkout_box .txt .oversea{margin:0;}
.checkout_box .txt .oversea .shipping_title{height:1.875rem; line-height:1.875rem; margin:.875rem 0; font-size:.875rem;}
.checkout_box .txt .oversea:first-child .shipping_title{margin-top:0;}

.checkout_box .txt .shipping_row{ /*line-height:2.3rem;*/ line-height:1.5rem; overflow:hidden; /*margin-bottom:.3125rem;*/ padding:0.875rem 0;}
.checkout_box .txt .shipping_row:first-child{ padding-top:0;}
.checkout_box .txt .shipping_row:last-child{ padding-bottom:0;}
.checkout_box .txt .shipping_row .icon{ float:left; margin-left:2%;}
.checkout_box .txt .shipping_row>div>i{ width:1.4rem; height:1.4rem; background-image:url(../images/icon_checkbox_four.png); background-repeat:no-repeat; background-position:center; background-size:100%; display:inline-block; vertical-align:top; border-radius:0.7rem; overflow:hidden;}
.checkout_box .txt .shipping_row .con{ float:left; width:15rem; margin-left:1rem; position:relative;}
@media screen and (min-width: 360px) {
.checkout_box .txt .shipping_row .con{ width:19rem;}
}
.checkout_box .txt .shipping_row .con span:nth-last-child(3){ color:#c00; position:absolute; left:8rem; top:0;}
.checkout_box .txt .shipping_row .con span:last-child{ color:#666;}

.checkout_box .txt .payment_row{ /*padding:0.3rem 0;*/ padding:0.875rem 0; display:none;}
.checkout_box .txt .payment_row:first-child{ padding-top:0;}
.checkout_box .txt .payment_row .img{ width:5rem; height:2.5rem; float:left; overflow:hidden; margin-left:1rem;}
.checkout_box .txt .payment_row .img img{ vertical-align:middle;}
.checkout_box .txt .payment_row .img span{ height:100%; display:inline-block; vertical-align:middle;}
.checkout_box .txt .payment_row .name{ width:42%; line-height:2.5rem; float:left; margin-left:3rem; overflow:hidden;}
.checkout_box .txt .payment_row .icon{ float:left; margin-left:2%; margin-top:0.5rem;}
.checkout_box .txt .payment_row>div>i{ width:1.4rem; height:1.4rem; background-image:url(../images/icon_checkbox_four.png); background-repeat:no-repeat; background-position:center; background-size:100%; border-radius:0.7rem; overflow:hidden; display:inline-block;}
.checkout_box .txt .payment_row .payment_contents .desc{ font-size:0.75rem; line-height:1.25rem; padding:2%; padding-left:calc(2% + 2.4rem);}

.checkout_box .txt .current>div>i{background-image:url(../images/icon_checkbox_four_current.png);}
.checkout_box .txt .insurance_txt{line-height:1rem; margin-top:.75rem; font-size:.75rem; color:#818181;}
.checkout_box .txt .insurance_txt>input{margin-left:.3125rem; margin-right:.3125rem; float:left;}
.checkout_box .txt .insurance_txt span{color:#818181;}
.checkout_box .txt .no_delivery{padding-left:.1rem; font-size:.875rem; color:#c00;}

.checkout_box .txt .code_input{margin-top:.3125rem;}
.checkout_box .txt .code_input .box_input{width:68%; padding:0 2%; box-sizing:border-box; -webkit-box-sizing:border-box;}
.checkout_box .txt .code_input .btn_submit{width:28%; height:2.1875rem; line-height:2.1875rem; margin-left:3%; text-align:center; font-size:.875rem; color:#fff; border-radius:.3125rem;}
.checkout_box .txt .code_valid{line-height:1.25rem; font-size:.75rem; position:relative;}
.checkout_box .txt .code_valid strong{font-size:.875rem; font-weight:bold; color:#900;}
.checkout_box .txt .code_valid .valid_ex, .checkout_box .txt .code_valid .valid_ex span, .checkout_box .txt .code_valid .valid_ex strong{font-size:.875rem; color:#808080;}
.checkout_box .txt .code_valid #removeCoupon{line-height:1.25rem; padding:0 .625rem; color:#333; font-size:.875rem; border:.0625rem #ddd solid; border-radius:.3125rem; position:absolute; right:0; bottom:0;}

.checkout_divide{height:.5rem; background-color:#eee;}

.cart_item_list .item{width:100%; padding:.875rem .625rem; position:relative; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_item_list .item .img{width:6.25rem; height:6.25rem; text-align:center; border:.0625rem #eee solid;}
.cart_item_list .item .img img{max-height:100%; vertical-align:middle;}
.cart_item_list .item .info{margin-left:7rem;}
.cart_item_list .item .name{line-height:1rem; margin-bottom:.1rem;}
.cart_item_list .item .name>a{font-size:.875rem; color:#333;}
.cart_item_list .item .rows{width:100%; min-height:1rem; line-height:1rem; padding:.2rem 0; color:#666; float:left;}
.cart_item_list .item .price{line-height:1rem; font-size:1rem; color:#333; position:absolute; right:.3125rem; bottom:.625rem;}
.cart_item_list .item:first-child{border:0;}

.checkout_summary{padding:1.25rem; background-color:#f9f9f9;}
.checkout_summary>div{padding:.3125rem 0; line-height:1rem;}
.checkout_summary>div .key, .checkout_summary>div .value{font-size:.875rem; float:left;}
.checkout_summary>div .key{width:80%; text-align:right; color:#999;}
.checkout_summary>div .value{width:17%; padding-left:3%; color:#c00;}
.checkout_summary>div .value span{font-size:.875rem; color:#c00;}

.checkout_button{margin:.875rem 0 1.25rem; padding:0 .625rem;}
.checkout_button .btn{color:#fff;}
.checkout_button .processing{color:#bbb; background:linear-gradient(0deg, #fcfcfc 0%, #f2f2f2 100%); border:.0625rem #d1d1d1 solid;}

.complete_box{padding:0 .625rem;}
.complete_box .btn_view_order{margin:1rem 0; color:#fff; background-color:#ccc;}
.complete_tips{padding-top:.75rem; font-size:.75rem; line-height:1.5rem; box-sizing:border-box; -webkit-box-sizing:border-box;}

.pay_info{border:dotted #ccc; border-width:.0625rem 0; margin:.16rem 0; padding-bottom:.16rem; padding-top:.12rem;}
.pay_info .title{line-height:2rem; font-size:1rem; font-weight:bold;}
.pay_info .rows{line-height:1.5rem;}
.pay_info .rows>strong, .pay_info .rows>span{font-size:.875rem; display:inline-block; vertical-align:top;}
.pay_info .rows>strong{width:40%;}
.pay_info .rows>span{width:58%;}

.payment_info{padding:.625rem 0; line-height:180%; border-bottom:1px #ccc dotted;}

.pay_form{padding:.75rem 0;}
.pay_form .title{line-height:1.5rem; margin-bottom:.3125rem; padding:.75rem .625rem .3125rem; font-size:.875rem; border-bottom:.0625rem #ddd solid;}
.pay_form .rows{margin:0 .625rem .625rem;}
.pay_form .rows .field{font-size:.875rem; line-height:1.25rem;}
.pay_form .rows .input{font-size:.75rem; line-height:.8rem;}
.pay_form .rows .input .whalf{width:47%; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.pay_form .rows .input .whalf:first-child{margin-right:6%;}
.pay_form .rows .input .box_input{width:95%; padding:0 2%;}
.pay_form .pay_button{margin:.75rem .625rem 1rem;}
.pay_form .pay_button .btn{margin-bottom:.625rem; color:#fff; display:block;}
.pay_form .pay_button .btn_view_order{background-color:#ccc;}

.success_info{margin:0 auto;}
.success_info .hd{height:2.5rem; line-height:2.5rem; margin:.75rem .625rem 0; background:url(../images/icon_cart_success.png) no-repeat .625rem center #f6f6f6; background-size:2rem;}
.success_info .hd>h3{padding-left:3.3rem; font-size:.875rem; color:#66a355;}
.success_info .hd_error{background-image:url(../images/icon_cart_error.png);}
.success_info .hd_error>h3{color:#c00;}
.success_info .bd{margin:.75rem .3125rem;}
.success_info .bd .rows{line-height:1.5rem; margin-left:5%;}
.success_info .bd .rows>label, .success_info .bd .rows>span{font-size:.75rem;}
.success_info .bd .title{height:2.5rem; line-height:2.5rem;}
.success_info .bd .title strong{font-size:.875rem;}
.success_info .foot{line-height:180%; padding:.3125rem 5%; background:#f6f6f6;}
.success_info .foot .what{padding:.625rem 0; font-size:.75rem;}
.success_info .foot .what>a{margin:.5rem .4rem; font-size:.875rem; color:#0072d9; display:block;}
.success_info .foot .contact{margin-right:.625rem; font-size:.75rem;}
.success_info .textbtn{width:97%; margin-bottom:1.5rem; color:#fff; display:block;}
/*************************** 购物车 End ***************************/


@-webkit-keyframes null{
	0%{background:#FFF3F3;}
	50%{background:#FFCBCC;}
	100%{background:#FFF3F3;}
}
@keyframes null{
	0%{background:#FFF3F3;}
	50%{background:#FFCBCC;}
	100%{background:#FFF3F3;}
}

