@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

.pro_cbox{width:95%; margin:1rem auto 0;}
.pro_cbox .img{height:18rem; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:5.2%; position:relative; display:block;}
.pro_cbox .img img{vertical-align:middle; max-height:100%;}
.pro_cbox .img .icon_discount{width:38px; height:25px; line-height:12px; padding-top:5px; color:#fff; position:absolute; top:0; right:0;}
.pro_cbox .img .icon_discount b{font-size:16px;}
.pro_cbox .img .icon_discount_foot{width:0; height:0; border-left:19px transparent solid; border-right:19px transparent solid; border-top-width:5px; border-top-style:solid; position:absolute; right:0; top:30px;}
.pro_cbox .name{line-height:2rem; height:2rem; background:#f2f2f2; display:block; color:#333;}
.pro_cbox .name .n{width:65%; overflow:hidden; margin-left:3.2%; text-overflow:ellipsis; white-space:nowrap; color:#333; font-size:.75rem;}
.pro_cbox .name .p{margin-right:5.1%; font-size:.75rem; color:#d8061f;}
.pro_cbox .name .p del{ color:#888;}